.form {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    padding: 5rem;
    margin-left: 1rem;
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
    z-index: 4;
    margin-top: -3rem;

    background-color: var(--bg-tertiary);

    header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.label {
    color: var(--content-primary);
    font-weight: 600;
    margin-top: 1rem;
    letter-spacing: 1px;
}

.input{
    display: flex;
    margin-top: .5rem;
    align-items: center;
    border: 1px solid var(--bd-primary);
    padding: .8rem;
    gap: 4rem;
    border-radius: .75rem;

    input {
        background-color: transparent;
        border: none;
        color: var(--content-secondary);
        font-size: 1rem;
    }
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: url("../assets/icons.svg") no-repeat;
}

.hour-period{
    color: var(--content-primary);

    list-style: none;
    margin-top: 1rem;
}

.hours {
    list-style: none;
  
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .hour {
    width: 4.87rem;
    height: 2.5rem;
  
    border-radius: 0.5rem;
  
    font-size: 1rem;
    border: 1px solid #3e3c41;
  
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hour-period {
    width: 100%;
    color: #98959d;
    font-size: 0.87rem;
  
    margin-top: 0.75rem;
  }

  .hour-available {
    background-color: #2e2c30;
  }

  .hour-unavailable {
    opacity: 0.5;
  
    cursor: not-allowed;
  }

  .hour-selected {
    border: 1px solid #b8952e;
    color: #b8952e;
  }

  .hour:not(.hour-unavailable):hover {
    border: 1px solid #b8952e;
    color: #b8952e;
  }
  .button{
    margin-top: 1rem;
    padding: 1rem;

    border-radius: .5rem;
    border: none;
    font-size: 1rem;

    background-color: var(--content-brand);
    color: #050505;
    font-weight: 600;

    cursor: pointer;
  }

  @media(max-width:600px) {
    .form{
      max-width: 93%;
    }
    header {
      h1 {
        font-size: 1.4rem;
      }
    }
  }