*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --content-primary: #FFFFFF;
    --content-secondary: #98959D;
    --content-tertiary: #666666;
    --content-brand: #9282FA;

    --bg-primary: #151515;
    --bg-secondary: #1E1E1E;
    --bg-tertiary: #2E2C30;
    --bg-brand: #9282FA;
    --bg-highlights: #BDB4FA;

    --bd-primary: #3E3C41;
    --bd-secondary: #86818C;
    --bd-ternary: #9282FA;
    --bd-divisor: #353339;

    --act-blue: #027DF0;
    --act-blue-light: #16487A;
    --act-yellow: #F0DC02;
    --act-yellow-ligth: #756E1B;
    --act-orange: #F09102;
    --act-orange-ligth: #75501B;

    font-family: "Inter Tight", sans-serif;
    font-family: "Roboto", serif;
}

body {
    background-color: var(--bg-primary);
}

h1{
    font-size: 1.5rem;
}

h1, h2, h3 strong {
    color: var(--content-primary);
}

p {
    color: var(--content-secondary);
}

span{
    color: var(--content-tertiary);
}

.logo {
    background-color: var(--bg-secondary);
    z-index: 5;
    padding: 1rem 2rem;
    border-bottom-right-radius: .6rem;
}

p{
    font-size: 15px;
}

li{
    color: var(--content-secondary);
}