.header-aside{
    margin-bottom: 3rem;
}

.schedule {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    margin-top: 1.5rem;

    p{
        margin-top: .5rem;
    }
}

.schedule-period{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: #23242C;
    padding: 1rem;
    gap: 2.5rem;
    width: 49rem;
    border-radius: .8rem;

    span{
        font-weight: 600;
        font-size: 1.2rem
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    .period{
        margin-bottom: .5rem;
        padding: 0rem 1rem;

        li{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

            div{
                display: flex;
                gap: 2rem;
            }

            .cancel-icon{
                width: 10rem;
                cursor: pointer;
            }
        }
    }
}




@media(max-width: 600px) {
    .container{
        flex-direction: column;
    }
}